
.button {
    color: var(--color-black);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.687%;
    /* 18.99px */
    letter-spacing: 0.16px;
    width: 168.131px;
    height: 50.517px;
    flex-shrink: 0;
    border: none;
  
}