.wrapper{
    width: var(--default-layout-width);
    // height: ;
    display: flex;
    justify-content: center;
    
    background-color: var(--color-black);
}
.inner{
    // display: flex;
}
